archive.zip
.vs/INR_SIC/v15/Server/sqlite3/db.lock
.vs/INR_SIC/v15/Server/sqlite3/storage.ide
.vs/INR_SIC/v15/.suo
*.assets.cache
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/